body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  background: lightpink;
  color: white;
  text-align: center;
  line-height: 1.50em;
}

.sketch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: lightcyan;
  padding: 9vw;
}

.sketch-item {
  aspect-ratio: 1 / 1;
  background: lightgreen;
}

.hover-state {
  background: darkgray;
}
